In [1]:
import pyspark
import pandas as pd

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [4]:
spark

In [11]:
df_pyspark = spark.read.csv('./num_.csv')

In [12]:
df_pyspark # 타입 보여줌

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string]

In [13]:
df_pyspark.show() # 탑20을 보여줌

+---+---+---+---+---+---+---+
|_c0|_c1|_c2|_c3|_c4|_c5|_c6|
+---+---+---+---+---+---+---+
|  0|  1|  2|  3|  4|  5|  6|
|  0|  5|  6| 11| 29| 42| 45|
|  1| 12| 15| 17| 24| 29| 45|
|  2| 12| 27| 29| 38| 41| 45|
|  3|  1|  4| 13| 17| 34| 39|
|  4|  3| 19| 21| 25| 37| 45|
|  5| 12| 18| 22| 23| 30| 34|
|  6| 15| 26| 28| 34| 41| 42|
|  7| 14| 23| 31| 33| 37| 40|
|  8|  3| 11| 14| 18| 26| 27|
|  9| 21| 22| 26| 34| 36| 41|
| 10|  5| 11| 18| 20| 35| 45|
| 11|  1|  9| 12| 26| 35| 38|
| 12|  9| 12| 15| 25| 34| 36|
| 13| 15| 23| 29| 34| 40| 44|
| 14|  9| 11| 30| 31| 41| 44|
| 15|  8| 11| 16| 19| 21| 25|
| 16|  8| 11| 15| 16| 17| 37|
| 17|  8| 13| 18| 24| 27| 29|
| 18|  7| 15| 30| 37| 39| 44|
+---+---+---+---+---+---+---+
only showing top 20 rows

In [27]:
spark.read.option('header', True).csv('./num_.csv') # __바로는 에러가 뜸
#
# 아마도 컬럼명은 int면 안되나? -> 상관없음. 'true' -> True 로 변경 해주면 됨.
#

DataFrame[0: string, 1: string, 2: string, 3: string, 4: string, 5: string, 6: string]

In [22]:
# 기존의 컬럼명을 str로 변경
temp_sample = pd.read_csv('./num_.csv')
temp_sample.columns = ['c_'+_col for _col in temp_sample.columns]
temp_sample.to_csv('./num__.csv', index=False)

In [26]:
spark.read.option('header', True).csv('./num__.csv') # 버젼이 바뀌면서 str(t/f) 기 bool로 바뀜

DataFrame[c_0: string, c_1: string, c_2: string, c_3: string, c_4: string, c_5: string, c_6: string]

In [33]:
df_pyspark = spark.read.option('header', True).csv('./num_.csv') # 이렇게하면 int가 str로 전환됨
df_pyspark = spark.read.option('header', True).csv('./num_.csv', inferSchema=True) # int는 intㄹ 전화

In [34]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [35]:
df_pyspark.head(3)

[Row(0=0, 1=5, 2=6, 3=11, 4=29, 5=42, 6=45),
 Row(0=1, 1=12, 2=15, 3=17, 4=24, 5=29, 6=45),
 Row(0=2, 1=12, 2=27, 3=29, 4=38, 5=41, 6=45)]

In [36]:
df_pyspark.printSchema()

root
 |-- 0: integer (nullable = true)
 |-- 1: integer (nullable = true)
 |-- 2: integer (nullable = true)
 |-- 3: integer (nullable = true)
 |-- 4: integer (nullable = true)
 |-- 5: integer (nullable = true)
 |-- 6: integer (nullable = true)

In [4]:
df_pyspark = spark.read.csv('./num_.csv', inferSchema=True, header=True)

In [38]:
df_pyspark.columns

['0', '1', '2', '3', '4', '5', '6']

In [42]:
# 단일 컬럼 선택
print(df_pyspark.select('0'))
print(type(df_pyspark.select('0')))

DataFrame[0: int]
<class 'pyspark.sql.dataframe.DataFrame'>

In [45]:
# 다중 컬럼 선택
print(df_pyspark.select(['0', '2']))
df_pyspark.select(['0', '2']).show()

DataFrame[0: int, 2: int]
+---+---+
|  0|  2|
+---+---+
|  0|  6|
|  1| 15|
|  2| 27|
|  3|  4|
|  4| 19|
|  5| 18|
|  6| 26|
|  7| 23|
|  8| 11|
|  9| 22|
| 10| 11|
| 11|  9|
| 12| 12|
| 13| 23|
| 14| 11|
| 15| 11|
| 16| 11|
| 17| 13|
| 18| 15|
| 19|  4|
+---+---+
only showing top 20 rows

In [47]:
# select를 해야함 안하면 그냥 오류
df_pyspark['0'].show()

TypeError: 'Column' object is not callable

In [50]:
df_pyspark.dtypes

[('0', 'int'),
 ('1', 'int'),
 ('2', 'int'),
 ('3', 'int'),
 ('4', 'int'),
 ('5', 'int'),
 ('6', 'int')]

In [52]:
df_pyspark.describe().show()

+-------+-----------------+-----------------+------------------+-----------------+------------------+-----------------+-----------------+
|summary|                0|                1|                 2|                3|                 4|                5|                6|
+-------+-----------------+-----------------+------------------+-----------------+------------------+-----------------+-----------------+
|  count|             1022|             1022|              1022|             1022|              1022|             1022|             1022|
|   mean|            510.5|6.658512720156556|13.051859099804306|19.94618395303327|26.265166340508806|32.86497064579256|39.52739726027397|
| stddev|295.1702898328353|5.324331168246601| 6.867020894994583|7.457489062148432| 7.606323721100002|6.879212960723106|5.292125697149428|
|    min|                0|                1|                 2|                3|                 5|                9|               19|
|    max|             1021|               35|                37|               40|                43|               44|               45|
+-------+-----------------+-----------------+------------------+-----------------+------------------+-----------------+-----------------+

In [61]:
# add col

df_pyspark = df_pyspark.withColumn('bonus', df_pyspark['3']+2)
df_pyspark.show()

+---+---+---+---+---+---+---+-----+
|  0|  1|  2|  3|  4|  5|  6|bonus|
+---+---+---+---+---+---+---+-----+
|  0|  5|  6| 11| 29| 42| 45|   13|
|  1| 12| 15| 17| 24| 29| 45|   19|
|  2| 12| 27| 29| 38| 41| 45|   31|
|  3|  1|  4| 13| 17| 34| 39|   15|
|  4|  3| 19| 21| 25| 37| 45|   23|
|  5| 12| 18| 22| 23| 30| 34|   24|
|  6| 15| 26| 28| 34| 41| 42|   30|
|  7| 14| 23| 31| 33| 37| 40|   33|
|  8|  3| 11| 14| 18| 26| 27|   16|
|  9| 21| 22| 26| 34| 36| 41|   28|
| 10|  5| 11| 18| 20| 35| 45|   20|
| 11|  1|  9| 12| 26| 35| 38|   14|
| 12|  9| 12| 15| 25| 34| 36|   17|
| 13| 15| 23| 29| 34| 40| 44|   31|
| 14|  9| 11| 30| 31| 41| 44|   32|
| 15|  8| 11| 16| 19| 21| 25|   18|
| 16|  8| 11| 15| 16| 17| 37|   17|
| 17|  8| 13| 18| 24| 27| 29|   20|
| 18|  7| 15| 30| 37| 39| 44|   32|
| 19|  1|  4| 29| 39| 43| 45|   31|
+---+---+---+---+---+---+---+-----+
only showing top 20 rows

In [64]:
# drop col
df_pyspark = df_pyspark.drop('bonus')
df_pyspark.show()

+---+---+---+---+---+---+---+
|  0|  1|  2|  3|  4|  5|  6|
+---+---+---+---+---+---+---+
|  0|  5|  6| 11| 29| 42| 45|
|  1| 12| 15| 17| 24| 29| 45|
|  2| 12| 27| 29| 38| 41| 45|
|  3|  1|  4| 13| 17| 34| 39|
|  4|  3| 19| 21| 25| 37| 45|
|  5| 12| 18| 22| 23| 30| 34|
|  6| 15| 26| 28| 34| 41| 42|
|  7| 14| 23| 31| 33| 37| 40|
|  8|  3| 11| 14| 18| 26| 27|
|  9| 21| 22| 26| 34| 36| 41|
| 10|  5| 11| 18| 20| 35| 45|
| 11|  1|  9| 12| 26| 35| 38|
| 12|  9| 12| 15| 25| 34| 36|
| 13| 15| 23| 29| 34| 40| 44|
| 14|  9| 11| 30| 31| 41| 44|
| 15|  8| 11| 16| 19| 21| 25|
| 16|  8| 11| 15| 16| 17| 37|
| 17|  8| 13| 18| 24| 27| 29|
| 18|  7| 15| 30| 37| 39| 44|
| 19|  1|  4| 29| 39| 43| 45|
+---+---+---+---+---+---+---+
only showing top 20 rows

In [67]:
# rename col
df_pyspark = df_pyspark.withColumnRenamed('0', 'index')

In [23]:

# rename col multi
new_names = ['index'] + [f'col_{i}' for i in range(1, 7)]
df_pyspark = df_pyspark.toDF(*new_names)

In [24]:
df_pyspark.show()

+-----+-----+-----+-----+-----+-----+-----+
|index|col_1|col_2|col_3|col_4|col_5|col_6|
+-----+-----+-----+-----+-----+-----+-----+
|    0|    5|    6|   11|   29|   42|   45|
|    1|   12|   15|   17|   24|   29|   45|
|    2|   12|   27|   29|   38|   41|   45|
|    3|    1|    4|   13|   17|   34|   39|
|    4|    3|   19|   21|   25|   37|   45|
|    5|   12|   18|   22|   23|   30|   34|
|    6|   15|   26|   28|   34|   41|   42|
|    7|   14|   23|   31|   33|   37|   40|
|    8|    3|   11|   14|   18|   26|   27|
|    9|   21|   22|   26|   34|   36|   41|
|   10|    5|   11|   18|   20|   35|   45|
|   11|    1|    9|   12|   26|   35|   38|
|   12|    9|   12|   15|   25|   34|   36|
|   13|   15|   23|   29|   34|   40|   44|
|   14|    9|   11|   30|   31|   41|   44|
|   15|    8|   11|   16|   19|   21|   25|
|   16|    8|   11|   15|   16|   17|   37|
|   17|    8|   13|   18|   24|   27|   29|
|   18|    7|   15|   30|   37|   39|   44|
|   19|    1|    4|   29|   39|   43|   45|
+-----+-----+-----+-----+-----+-----+-----+
only showing top 20 rows

In [69]:
## drop
"""
df_pyspark.na.drop() == df_dropna() :: null 들어간 행 다 날림
df_pyspark.na.drop(how='any') : default
df_pyspark.na.drop(how='all') : 이 경우는 모든 열에서 null 이어야 삭제됨
df_pyspark.na.drop(how='any', thresh=2) : 각 행의 (열 - null)값이 thresh값을 초과인 행은 삭제 
df_pyspark.na.drop(how='any', subset=[col_name]) : col_name에 null값이 있는 행 삭제
"""

"\ndf_pyspark.na.drop() == df_dropna() :: null 들어간 행 다 날림\ndf_pyspark.na.drop(how='any') : default\ndf_pyspark.na.drop(how='all') : 이 경우는 모든 열에서 null 이어야 삭제됨\ndf_pyspark.na.drop(how='any', thresh=2) : 각 행의 (열 - null)값이 thresh값을 초과인 행은 삭제 \ndf_pyspark.na.drop(how='any', subset=[col_name]) : col_name에 null값이 있는 행 삭제\n"

In [ ]:
## fill
"""
df_pyspark.na.fill('Missing Values') : null을 Missing Values로 채운다.
df_pyspark.na.fill('Missing Values', [col_name]) : col_name의 null을 Missing Values로 채운다. col_name이 아닌 열의 null은 그대로


"""

In [5]:
from pyspark.ml.feature import Imputer

In [6]:
imputer = Imputer(
    inputCols=[str(i) for i in range(1, 7)],
    outputCols=[f"{i}_imputed" for i in range(1, 7)]
).setStrategy("mean")

In [72]:
imputer.fit(df_pyspark).transform(df_pyspark).show()
# 이건 null 값을 평균값으로 채워준다.

+-----+---+---+---+---+---+---+---------+---------+---------+---------+---------+---------+
|index|  1|  2|  3|  4|  5|  6|1_imputed|2_imputed|3_imputed|4_imputed|5_imputed|6_imputed|
+-----+---+---+---+---+---+---+---------+---------+---------+---------+---------+---------+
|    0|  5|  6| 11| 29| 42| 45|        5|        6|       11|       29|       42|       45|
|    1| 12| 15| 17| 24| 29| 45|       12|       15|       17|       24|       29|       45|
|    2| 12| 27| 29| 38| 41| 45|       12|       27|       29|       38|       41|       45|
|    3|  1|  4| 13| 17| 34| 39|        1|        4|       13|       17|       34|       39|
|    4|  3| 19| 21| 25| 37| 45|        3|       19|       21|       25|       37|       45|
|    5| 12| 18| 22| 23| 30| 34|       12|       18|       22|       23|       30|       34|
|    6| 15| 26| 28| 34| 41| 42|       15|       26|       28|       34|       41|       42|
|    7| 14| 23| 31| 33| 37| 40|       14|       23|       31|       33|       37|       40|
|    8|  3| 11| 14| 18| 26| 27|        3|       11|       14|       18|       26|       27|
|    9| 21| 22| 26| 34| 36| 41|       21|       22|       26|       34|       36|       41|
|   10|  5| 11| 18| 20| 35| 45|        5|       11|       18|       20|       35|       45|
|   11|  1|  9| 12| 26| 35| 38|        1|        9|       12|       26|       35|       38|
|   12|  9| 12| 15| 25| 34| 36|        9|       12|       15|       25|       34|       36|
|   13| 15| 23| 29| 34| 40| 44|       15|       23|       29|       34|       40|       44|
|   14|  9| 11| 30| 31| 41| 44|        9|       11|       30|       31|       41|       44|
|   15|  8| 11| 16| 19| 21| 25|        8|       11|       16|       19|       21|       25|
|   16|  8| 11| 15| 16| 17| 37|        8|       11|       15|       16|       17|       37|
|   17|  8| 13| 18| 24| 27| 29|        8|       13|       18|       24|       27|       29|
|   18|  7| 15| 30| 37| 39| 44|        7|       15|       30|       37|       39|       44|
|   19|  1|  4| 29| 39| 43| 45|        1|        4|       29|       39|       43|       45|
+-----+---+---+---+---+---+---+---------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [8]:
# filter
df_pyspark.show(5)

+---+---+---+---+---+---+---+
|  0|  1|  2|  3|  4|  5|  6|
+---+---+---+---+---+---+---+
|  0|  5|  6| 11| 29| 42| 45|
|  1| 12| 15| 17| 24| 29| 45|
|  2| 12| 27| 29| 38| 41| 45|
|  3|  1|  4| 13| 17| 34| 39|
|  4|  3| 19| 21| 25| 37| 45|
+---+---+---+---+---+---+---+
only showing top 5 rows

In [31]:
# pandas 하고 유사함
df_pyspark.filter('col_3 >= 20').show(5) # str 상태의 조건문은 ~가 안됨
df_pyspark.filter(~(df_pyspark['col_3'] >= 20)).show(5) # 이렇게는 가능

+-----+-----+-----+-----+-----+-----+-----+
|index|col_1|col_2|col_3|col_4|col_5|col_6|
+-----+-----+-----+-----+-----+-----+-----+
|    2|   12|   27|   29|   38|   41|   45|
|    4|    3|   19|   21|   25|   37|   45|
|    5|   12|   18|   22|   23|   30|   34|
|    6|   15|   26|   28|   34|   41|   42|
|    7|   14|   23|   31|   33|   37|   40|
+-----+-----+-----+-----+-----+-----+-----+
only showing top 5 rows

+-----+-----+-----+-----+-----+-----+-----+
|index|col_1|col_2|col_3|col_4|col_5|col_6|
+-----+-----+-----+-----+-----+-----+-----+
|    0|    5|    6|   11|   29|   42|   45|
|    1|   12|   15|   17|   24|   29|   45|
|    3|    1|    4|   13|   17|   34|   39|
|    8|    3|   11|   14|   18|   26|   27|
|   10|    5|   11|   18|   20|   35|   45|
+-----+-----+-----+-----+-----+-----+-----+
only showing top 5 rows

In [34]:
# groupby -- pandas 하고 비슷함 agg 쓰는 것도
df_pyspark.groupby('col_1').sum().show(5)

+-----+----------+----------+----------+----------+----------+----------+----------+
|col_1|sum(index)|sum(col_1)|sum(col_2)|sum(col_3)|sum(col_4)|sum(col_5)|sum(col_6)|
+-----+----------+----------+----------+----------+----------+----------+----------+
|   27|        41|        27|        36|        37|        41|        43|        45|
|   26|      1789|        52|        56|        58|        75|        84|        87|
|   12|     15480|       432|       646|       862|      1058|      1287|      1474|
|   22|      2449|        88|       110|       123|       149|       158|       169|
|    1|     75932|       145|      1105|      2318|      3357|      4384|      5623|
+-----+----------+----------+----------+----------+----------+----------+----------+
only showing top 5 rows